body {
    background-color: #333;
    color: #bbb;
}

p, ul, ol, ol ul { font-size: 1.5em; }
h1 { font-size: 4em; }
h2 { font-size: 3.5em; }
h3 { font-size: 3em; }

p, h1, h2, h3, li {
    font-family: sans-serif;
}

pre { font-size: 2.5em; }

a {
    color: #88f

}

code, tt {
    color: #0c0;
}
